.Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
 }
 .Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}