.ImgContainer {
    z-index: 0;
}
.Image {
    max-height: 90vh;
    object-fit: cover;
    width: 100%;
}

.Panel {
    background: rgba(94,165,164,0.5);
    color: #fff;
    left: 5%;
    top: 10%;
    z-index: 2;
    width: 90%;
}

.Panel h1 {
    font-size: 1.6rem;
}

.Panel p {
    font-size: 1.2rem;
}

@media only screen and (min-width:600px) {	
    .Panel {
        background: rgba(94,165,164,0.3);
        width: 50%;
    }
}

@media only screen and (min-width:800px) {	
    .Panel h1 {
        font-size: 1.8rem;
    }
    
    .Panel p {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width:1200px) {	
    .Panel {
        left: 10%;
        top: 15%;
        width: 40%;
    }

    .Panel h1 {
        font-size: 2rem;
    }
    
    .Panel p {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width:1600px) {	
    .Panel h1 {
        font-size: 3rem;
    }
    
    .Panel p {
        font-size: 2.4rem;
    }
}

@media only screen and (min-width:1800px) {	
    .Panel {
        width: 30%;
    }   
}

@media only screen and (min-width:2000px) {	
    .Panel h1 {
        font-size: 4.5rem;
    }
    
    .Panel p {
        font-size: 2.4rem;
    }
}

.Card {
    margin-bottom: 30px;
}

@media only screen and (min-width:1800px) {	
    .Card {
        flex-basis: 25%;
    }
}

.Card img {
    height: 400px;
    object-fit: cover;
    width: 100%;
}