.App {
    background-color: #f1f1f1;
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
    min-height: 100vh;
}

.Main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 180px;
}

.Content {
    background: #fff;
    border: 2px solid #5ea5a4;
    border-radius: 20px;
    padding: 40px;
    white-space: pre-line;
}

.MainContent {
    padding: 30px 5%;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

.ImageRounded {
    border-radius: 20px;
}

.Teal {
    color: #5ea5a4;
}

.Red {
    color: #a55e5f;
}

* {
    box-sizing: border-box;
}
  
a {
    color: #5ea5a4;
    transition: color ease-in-out 0.3s;
}

a:hover {
    color: #815ea5;
    text-decoration: none;
}

a:hover i {
    color: #815ea5;
    transition: color ease-in-out 0.3s;
}

i {
    color: #5ea5a4;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}
  
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #815ea5;
}

input[type="file"] {
    display: none;
}